<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="page">
    <header class="header">
      <span class="logo">AshDev Blog</span>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item navigation__item--current">
            <a class="navigation__link" href="/">home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/about">about</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/CONTACT">CONTACT</a>
          </li>
        </ul>
      </nav>
    </header>
   
    <div class="container">
 
