<div class="simple-card">
    <h1 name="superTitle">Auth</h1>
<div class="wrapper-input">

    <form action="/auth" method="post">
        <div class="form-group">
            <label>User</label>
            <input type="text" name="userName">
            <label>Password</label>
            <input type="password" name="password">
           
            <button type="submit" id="add">Enter</button>
            
    </div>
    
    </form>
    
</div>

</div>