<div class="a-box">


    <div class="img-container">
    
        <img src="<%= image %>">
    
    </div>
</div>
<div class="simple-card text-container ">
<h1><%= postTitle %></h1>
<div class="body"></div>
</div>

<% document.querySelector(".body").innerHTML = <%= postBody %> %>