@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&display=swap');
a {
  color: #000;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #7c90a014;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1{
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
  color: #605a54;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  
  width: 100%;
  height: 60px;
  background-color: #7c90a0;
}

.footer p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

/* here was the header */
.header {
  background-color: #4e5166;
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  align-items: center;

  flex-wrap: wrap
}

.navigation__list{
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 10px 0;
}

.logo {
  display: inline-block;
    color: #fff;
    font-size: 3rem;
    min-width: 300px;
}

ul {
  padding: 0;
}

.navigation__link {
    color: inherit;
    text-transform: uppercase;
    font-weight: 200;
   
}

li a:hover {
    color: #b5aa9d;
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
max-width: 1130px;
margin: 0 auto;
padding: 0 2rem;
}

.post-card {
  display: flex;
  flex-direction: column;
}

.title-card {
  display: inline;
  margin-bottom: 10px;
  font-weight: 400;
}

.title-card:hover {
  color: #b5aa9d;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.simple-card {
  background-color: #fff;
  padding: 2.5rem 2rem 2.5rem 2rem;
  margin-top: 2rem;
  
}

.post-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.read-more{
  background-color: #7c90a0;
  color: #fff;
  align-self: end;
  padding: 10px;
  margin-top: auto;
  
}

.read-more:hover{
  background-color: red;
}

.post-article {
  max-width: 650px;
}

.article-image {
  width: 100%;
}

.text-container {
  padding: 260px 60px 40px 60px;
  margin: -200px 0px 0px 0px;
  max-width: 850px;
}


.img-container {
    height: 400px;
    max-width: 700px;
    overflow: hidden;
    display: inline-block;
    margin: 0 20px;
    
   
    
}

.img-container img {
    
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.a-box {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}